variables:
  IMAGE: registry.gitlab.com/barugoo/user-service
  GO111MODULE: 'on'
  DOCKER_HOST: tcp://docker:2375/

stages:
  - build_binary
  - lint_and_test
  - create_image

run_linter:
  tags: [build]
  stage: lint_and_test
  image: registry.gitlab.com/gitlab-org/gitlab-build-images:golangci-lint-alpine
  script:
    - '[ -e .golangci.yml ] || cp /golangci/.golangci.yml .'
    - golangci-lint run 

build_binary:
  tags: [build]
  stage: build_binary
  image: golang:alpine
  script:
    - go build .

create_image:
  tags: [build]
  stage: create_image
  image: docker:latest
  script:
    - docker build -t $IMAGE .
    - docker push $IMAGE

    